html,
body {
  margin: 0;
  padding: 0;
}

.label-file {
  cursor: pointer;
}

.input-file {
  display: none;
}

/* Component ingredients */

.displayText {
  margin: 0 0 5px 120px;
}

/* Component RecipeInput */

.infos-recipe {
  justify-content: space-evenly;
}
